html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

.box-outer {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.titles {
	display: block;
	max-width: 100%;
	background-color: #000000d0;
	padding: 10px 10px 10px 25px;
}

.title {
	display: block;
	font-weight: bold;
	color: #ffffff;
	font-size: 2em;
	padding: 5px;
}

.subtitle {
	display: block;
	font-weight: bold;
	padding: 5px;
	padding-bottom: 10px;
	color: #ffffff;
}

#count {
	display: block;
	font-weight: bold;
	margin-top: 15px;
	text-align: center;
}

.display {
	text-align: center;
	display: block;
	margin: auto;
}

#totalChart {
	display: block;
	margin: auto;
	margin-top: 20px;
	padding: 5px;
	max-height: 37vh;
	max-width: 50vw;
}

#avgChart {
	display: block;
	margin: auto;
	margin-top: 20px;
	padding: 5px;
	max-height: 37vh;
	max-width: 50vw;
}
